# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL and SQLite.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pobelnode?schema=public"
API_PAGED_RESULTS_DEFAULT_LIMIT=10
POD_POBEL_ACCOUNT_API_TOKEN=111111111111111111111
POD_POBEL_ACCOUNT_CLIENT_ID=111111111111111111111
POD_POBEL_ACCOUNT_CLIENT_SECRET=11111111
HOST_ADDRESS='http://localhost:8080'
